body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;

}

.first-section {
    background-color: #1F2937;
    font-size: 18px;
    color: #e5e7eb;
    display: flex;
    flex-direction: column;
    padding: 12px 340px 72px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 72px;
}

.main {
    display: flex;
    justify-content: center;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
}


.title {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin-bottom: 12px;
}

ul {
    list-style: none;
    display: flex;
    gap: 24px;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

button {
    background-color: #3882f6;
    color: #e5e7eb;
    border: 0;
    border-radius: 6px;
    padding: 6px 24px;
    font-size: 18px;
    font-weight: bold;
}

.text {
    flex-wrap: wrap;
    margin-right: 56px;
}

.infos {
    margin-bottom: 12px;
}

.image {
    background-color: grey;
    width: 600px;
    height: auto;
    flex-shrink: 0;
}


.second-section {
    text-align: center;
    margin: 12px 340px 150px;
}

.info-header {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    margin: 48px 0;
}

.img-group {
    display: flex;
    justify-content: center;
    gap: 48px;
}

.rectangle {
    width: 200px;
    height: 200px;
    border: solid 5px #3882f6;
    border-radius: 12px;
    
}

.some-text {
    font-size: 18px;
    color: #1F2937;
    flex-wrap: wrap;
    max-width: 200px;
    margin-top: 8px;
}